*{
	margin: 0;
	padding:0;
	list-style: none;
}
/* html{font-size:62.5%;} */
/* html{
	font-size: 12px;
} */

a{
	text-decoration: none;
	color: black;
}

header{
	width: 100vw;
	height: 8.5vh;
	/*background-color: pink;*/
	position: relative;
}
.header-img{
	margin-left: 5.9vw;
	height: 2.1vh;
	width: 3.75vw;
	margin-top:3.9vh;
}
.header-search{
	width: 69.2vw;
	/*background-color: red;*/
	height: 8.5vh;
	position: absolute;
	top :0;
	left: 15.6vw;
}
.img-search{
	width: 69.1vw;
	position: absolute;
	bottom: 2.6vh;
}
.seach-text{
	border:none;
	color:#ccc;
	/*width: 59.1vw;*/
	font-size: 2.8vw;
	position: absolute;
	bottom: 2.9vh;
	left:1.6vw;
	outline: none;
	border: none;
}
.img_search{
	width: 3.125vw;
	height: 1.76vh;
	position: absolute;
	bottom: 3.2vh;
	right: 1.5vw;
}
.header_right{
	float: right;
	position: absolute;
	right: 4.3vw;
	top:3.4vh; 
}
.listImg1{
	width: 4.6vw;
	height: 2.4vh;
}
/*over*/

section{
	width: 100vw;

}
.list_head{
	width: 97.5vw;
	height: 4.2vh;
	/*background-color: red;*/
	margin: 0 auto;
}
.list_head_1{
	width: 31vw;
	height: 4.2vh;
	border-bottom: 0.1vh solid #ccc;
	text-align: center;
	float: left;
	margin-right: 2.2vw;
}
.list_head_1>button{
	border: 0;
	background-color: transparent;
	color: #88d549;
	font-size: 12px;
	font-family: 微软雅黑;
	outline: none;
}
.list_head_1>img{
	width: 1.5vw;
	height: 0.8vh;
	margin-left: 1vw;
}
.list_sec_bgcolor{
	width: 100vw;
	background-color: #eff2ec;
}
.list_nav{
	height: 7vh;
	width: 97.5vw;
	margin: 0 auto;

	
}
.list_nav_ul{
	width: 97.5vw;
	overflow: hidden;
	height: 7vh;


}
.list_nav_ul>li{
	margin-top: 1.5vh;
	float: left;
	width: 20vw;
	height: 3.5vh;
	background-color: white;
	margin-right: 1.1vw;
	font-size: 0.75rem;
	text-align: center;
	line-height: 3.5vh;
	border-radius: 2vw;
	color: #838482;	
}
.list_sec{
	width: 97.5vw;
	margin: 0 auto;
	overflow: hidden;
}
.list_sec_1{
	width:47.5vw;
	height: 40.3vh;
	background-color: white;
	padding-top: 2.3vw;
	float: left;
	margin-right: 2.5vw;
	margin-bottom: 1.5vh;
}
.list_sec_img{
	width: 42.8vw;
	height: 24.1vh;
	/*background-color: pink;*/
	border: 0.1vw solid #ccc;
	/*margin: 2.3vw;*/
	margin-left: 2.3vw;

}
.list_img1{
	width: 42.3vw;
	height: 14.8vh;
	margin-top: 5.2vh;
}
.list_sec_p1{
	font-size:3.4vw; 
	margin-top: 1.5vh;
	font-family: 微软雅黑;
	color: #333;
	margin-left: 2.3vw;
}
.list_sec_sel{
	width: 47.5vw;
	height: 7.3vh;
	/*background-color: pink;*/
}
.list_sec_selleft{
	float: left;
	width: 32vw;
	height: 7.3vh;
}
.list_s1{
	font-size:3.75vw;
	margin-left: 2.3vw;
	color: #ccc;
}
.list_sec_p2{
	font-size:4vw;
	color: red;
	font-family: 微软雅黑; 
	margin-left: 2.3vw;
	margin-top: 1vh;
}
.list_img2{
	width:9.5vw;
	height: 5.3vh;
	margin-top: 1.5vh; 
}
.list_img3{
	width: 41vw;
	height: 23.1vh;
	margin-left: 1vw;
	margin-top: 0.5vh;
}
.list_img4{
	width: 41vw;
	height: 41vw;
}
.list_img5{
	width: 40vw;
	height: 20.2vh;
	margin-top: 1.5vh;
	margin-left: 1vw;
}
.list_img6{
	width: 40vw;
	height: 22vh;
}
.list_img7{
	width: 37.5vw;
	height: 17.1vh;
	margin-top: 2.5vh;
	margin-left: 1vw;
}