*{
	margin: 0;
	padding:0;
	list-style: none;
}
/* html{font-size:62.5%;} */
 

a{
	text-decoration: none;
	color: black;
}
header{
	width: 6.4rem;
	height: 0.97rem;
	/*background-color: pink;*/
	position: relative;	
}
.details_img1{
	height: 0.24rem;
    width: 0.24rem;
    margin-left: 0.38rem;
    margin-top: 0.39rem;
    float: left;
}

.btn1{
	background-color: transparent;
	border: none;
	font-size: 0.12rem;
	float: right;
	margin-top: 0.4rem;
	margin-right: 0.35rem;	
	color: #88d549;
	outline: none;
}
.btn1>a{
	
}

/*over*/
section{
	width: 6.4rem;
	background-color: #eff2ec;
	padding-top: 0.49rem;
	height: 10.39rem;
}
.login{
	width: 5.47rem;
	height: 2.4rem;
	background-color: white;
	margin:auto;
	left:0;
	right: 0;
	border-radius:0.04rem;
}

.user{
	width: 5.1rem;
	/*height: 3.8vh;*/
	overflow: hidden;
	padding-top: 0.52rem;
	margin-left: 0.4rem;
}
.loginimg1{
	width:0.3rem;
	height: 0.3rem; 
	float: left;
}
.user_right{
	width: 4.2rem;
	height: 0.4rem;
	float: left;
	border-bottom: 0.02rem solid #ccc;
	margin-left: 0.075rem;
	
}
.user_right>input{
	height: 0.4rem;
	float: left;
	outline: none;
	border: none;
	text-indent: 0.15rem;
	font-size: 0.12rem;
	color: #adadad;
	font-family: 微软雅黑;
}
.loginimg2{
	float: left;
	width: 0.3rem;
	height: 0.35rem;
}
.password{
	width: 5.1rem;
	/*height: 3.8vh;*/
	overflow: hidden;
	/*padding-top: 4.5vh;*/
	margin-left: 0.4rem;
	margin-top: 0.4rem;
}
.wangjimima{
	width: 5.47rem;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 0.28rem;
}
.btn2{
	float: right;
	border: 0;
	background-color: transparent;
}
.loginbtn{
	margin-top: 3rem;
	text-align: center;
	overflow: hidden;
}
.btn3{
	width: 5.4rem;
	height: 0.7rem;
	border: 0;
	border-radius: 4vw;
	background-color: #f54d32;
	color: white;
	text-align: center;
	
	font-family: 微软雅黑;
	font-size:0.12rem;
	float: left;
	margin: 0 auto;
	margin-left: 0.5rem;
}
.bottom{
	overflow: hidden;
	margin-top: 1.23rem;
}
.loginimg3{
	width: 6.4rem;
	float: left;
}